.string-value {
  color: light-dark(#cc0000, #ff6666); /* red */
}

.null-value {
  color: light-dark(#666666, #b3b3b3); /* gray */
}

.number-value {
  color: light-dark(#0000cc, #6666ff); /* blue */
}

.array-value {
  color: light-dark(#006600, #66cc66); /* green */
}

.boolean-value {
  color: light-dark(#cc8400, #ffb84d); /* orange */
}

.object-value {
  color: light-dark(#660066, #cc66cc); /* purple */
}

.prop-list {
  list-style-type: none;
  padding-left: 20px;
  max-width: 100vw;
}

.list-item {
  display: flex;
  flex-wrap: nowrap;
}

.item-key {
  composes: string-value;
  flex: 0 0 auto;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item-value {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
