.log-item {
  width: 100%;
  max-width: 100vw;
  display: flex;
  align-items: center;
  border: 1px solid var(--border-color);

  &:not(:first-child) {
    /* Top border for non-first items */
    border-top-color: var(--separator-line-color);
  }

  &:not(:last-child) {
    /* Bottom border for non-last items */
    border-bottom-color: var(--separator-line-color);
  }
}

.log-item__time {
  flex: 0 1 210px;
  border-right: 1px solid var(--separator-line-color);
  padding: 8px 2px;
  white-space: nowrap;
  overflow: hidden;
}

.log-item__message {
  flex: 1;
  padding: 8px 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
